<div class="tarjeta-evento">
  {{#if imagen}}<img src="{{imagen}}" alt="Concierto de {{artista}}" />{{/if}}
  <div class="contenido-evento">
    <h3>{{artista}}</h3>
    <span class="fecha">{{fecha}}</span>
    <span class="lugar">{{lugar}}</span>
    <p>{{descripcion}}</p>
  </div>
</div>
