<div class="tarjeta-testimonio">
  <img src="{{foto}}" alt="Foto de {{nombre}}" />
  <div class="contenido">
    <p>"{{comentario}}"</p>
    <strong>- {{nombre}}, {{ubicacion}}</strong>
  </div>
</div>
